################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2018-3-Progra-4-master/PrograIV.Calculadora/.vs/PrograIV.Calculadora/v15/Server/sqlite3/db.lock
